---
import MainHead from '../components/MainHead.astro'
---

<html lang="es">
	<head>
		<MainHead description="Jeanine White: Developer, Speaker, and Writer..." />
	</head>
	<body>
		<main>
			<h1>Success</h1>
		</main>
	</body>
</html>
