---
const { description = 'The personal site of Jeanine White' } = Astro.props;
const token = "82a90d525bd1ccdc0eebf74b1d5255"
const response = await fetch(
	'https://graphql.datocms.com/',
	{
		method: 'POST',
		headers: {
			'Content-Type': 'application/json',
			'Accept': 'application/json',
			'Authorization': `Bearer ${token}`
		}, body: JSON.stringify({
			query: `{
				_site {
					globalSeo {
						siteName
					}
				}
			}`
		})
	}
)
const data = (await response.json()).data
const site = data._site.globalSeo
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<title>{site.siteName}</title>

<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;900&display=swap" rel="stylesheet" />
<style global>
    @import "../styles/global.scss";
</style>